{% extends 'base.html.twig' %}

{% block title %}Beneficiaire index{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'beneficiaires/_menu.html.twig' %}
            <main id="main" class="col-12 col-sm-12 col-md-12 col-lg-10 ps-md-2 pt-5">
                <div class="container ">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8 col-sm-8 col-md-6 col-lg-12 col-xl-12 mb-5 personnelForm">
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                        <button type="submit" class="btn btn-primary mt-2 mt-sm-3 mt-md-3 mt-lg-3">{{ button_label|default('Chercher') }}</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
{#                            {% component('PersonnelSearch') %}{% endcomponent %}#}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('failure') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <h1>Bénéficiaires</h1>
                        <div class="table-responsive tableOverflow overflow-auto border border-2 p-4 rounded-4">
                            <a href="{{ path('app_beneficiaires_new', {'personnel': personnel }) }}" class="btn btn-primary">Nouveau bénéficiaire</a>
                            <table class="table table-hover mt-3">
                                <thead>
                                <tr>
                                    <th>Bénéficiaire</th>
                                    <th>Lien de parenté</th>
                                    <th>Date de naissance</th>
                                    <th>Date Lunette</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for beneficiaire in beneficiaires %}
                                    <tr>
                                        <td>{{ beneficiaire.nomPrenom }}</td>
                                        <td>{{ beneficiaire.lien }}</td>
                                        <td>{{ beneficiaire.dateNaissance ? beneficiaire.dateNaissance|date('d/m/Y') : '' }} ({{ beneficiaire.age }} ans)</td>
                                        <td>{{ beneficiaire.dateLunette ? beneficiaire.dateLunette|date('d/m/Y') : '' }}</td>
                                        <td>
                                            <a href="{{ path('app_beneficiaires_edit', {'id': beneficiaire.id }) }}" class="btn btn-warning">Modifier</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">Pas de Bénéficiaire</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        {% include 'beneficiaires/_footer.html.twig' %}
    {% endblock %}
{% endblock %}